{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">{{ blog.title }}</h2>
      <p class="lead">{{ blog.description }}</p>
    </div>
</div>
<hr class="featurette-divider">
  {% endblock %}