{% load static %}
<a href="{{ blog.get_absolute_url }}">
    <div class="card mb-3 
            {% if blog.category  == 'Dieting' %} border border-primary 
            {% elif blog.category  == 'Recovery' %} border border-warning 
            {% elif blog.category  == 'Endurance' %} border border-info
            {% elif blog.category  == 'Covid-19' %} border border-danger 
            {% elif blog.category  == 'Members' %} border border-light 
            {% else %} border border-success {% endif %} max_w_50">
        <div class="row no-gutters rounded-left">

            <div class="col-md-8 bg-black rounded-left">
                <div class="card-body bg-black rounded">
                    <h5 class="card-title text-center text-wht">{{ blog.title|title }}</h5>
                    <p class="text-center text-wht"> <small class="text-wht">Author: </small>
                        &nbsp;{{ blog.author|title }}</p>
                    <small class="{% if blog.category  == 'Dieting' %} text-primary 
                    {% elif blog.category  == 'Recovery' %} text-warning 
                    {% elif blog.category  == 'Endurance' %} text-info
                    {% elif blog.category  == 'Covid-19' %} text-danger 
                    {% elif blog.category  == 'Members' %} text-light 
                    {% else %} text-success {% endif %}"><i class="mx-2 fa fa-tags"></i>{{ blog.category }}</small>
                    <small class="card-text text-wht">{{ blog.content|safe|truncatechars:100 }}</small><span
                        class="text-mute float-right"><small class="text-muted"> Posted:
                            {{ blog.publish_date|timesince }}</small></span>
                    <div class="row w-100 justify-content-around">
                        <div class="text-center text-wht col-2"><span><i class="text-grn fa fa-eye"></i>
                                {{ blog.get_view_count }}</span></div>
                        <div class="text-center text-wht col-2"><span><i class="text-primary fa fa-thumbs-up"></i>
                                {{ blog.get_like_count }}</span><br></div>
                        <div class="text-center text-wht col-2"><span><i class="text-ylw fa fa-comments-o"></i>
                                {{ blog.get_comment_count }}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bg-black rounded">
                <img src="{{ blog.thumbnail.url }}" class="card-img blog-list-img" alt="{{ blog.title|title }}">
            </div>
        </div>
    </div>
</a>
