{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-auto">
    <div class="row">
        <div class="col  mt-3">
            <hr>
            <h2 class="display-4 logo-font text-black text-center">About Us</h2>
            <hr>
            <br>
            <div class="text-center">
                <img class="img-thumbnail" id="about-logo" src="{% static 'images/readme/aa-logo.png' %}">
            </div>
            <div>
                <br>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut esse, enim ratione nihil porro qui
                    recusandae. Officia libero distinctio assumenda tempore, veniam adipisci minus vitae, quod,
                    asperiores excepturi eligendi animi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore ut modi totam a? Consectetur quaerat maxime officiis tenetur minima repellendus sed sequi
                    ipsa vitae sint voluptatem, veniam temporibus, aliquam Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Nostrum, reprehenderit repellat aperiam explicabo beatae at impedit delectus.
                    Omnis laudantium dolorem iusto. Nulla sint expedita consectetur omnis? Cum minus suscipit harum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut esse, enim ratione nihil porro qui
                    recusandae. Officia libero distinctio assumenda tempore, veniam adipisci minus vitae, quod,
                    asperiores excepturi eligendi animi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore ut modi totam a? Consectetur quaerat maxime officiis tenetur minima repellendus sed sequi
                    ipsa vitae sint voluptatem, veniam temporibus, aliquam Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Nostrum, reprehenderit repellat aperiam explicabo beatae at impedit delectus.
                    Omnis laudantium dolorem iusto. Nulla sint expedita consectetur omnis? Cum minus suscipit harum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut esse, enim ratione nihil porro qui
                    recusandae. Officia libero distinctio assumenda tempore, veniam adipisci minus vitae, quod,
                    asperiores excepturi eligendi animi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore ut modi totam a? Consectetur quaerat maxime officiis tenetur minima repellendus sed sequi
                    ipsa vitae sint voluptatem, veniam temporibus, aliquam Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Nostrum, reprehenderit repellat aperiam explicabo beatae at impedit delectus.
                    Omnis laudantium dolorem iusto. Nulla sint expedita consectetur omnis? Cum minus suscipit harum.
                </p>
                <br>
                <br>
            </div>

            <div class="text-center">
                <h4>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">Let's
                        Shop!</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
