{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block page_header %}
<div class="row"></div>
{% endblock %}

{% block content %}
    <div id= "hero-image" class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 logo-font text-black">
                    Welcome//
                </h2>
                <h2 class="display-4 logo-font text-black">
                    Croeso
                </h2>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% block postloadjs %}
{{ block.super }}
<script>
    window.onload=function(){  
        var thediv=document.getElementById("hero-image");  
        var imgarray = new Array ("{{ MEDIA_URL }}abyss-headphones-diana.jpg",);  
        var spot =Math.floor(Math.random()* imgarray.length); 
        thediv.style.background="url("+imgarray[spot]+")";
    }
</script>

{% endblock %}
