{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row h-100">
        <div class="my-auto">
            <hr>
            <h2 class="display-4 logo-font text-black text-center">
                Terms and Conditions
            </h2>
            <hr>
            <div>
                    <b class="text-center">These Rules and Terms of Use are unabashedly inspired by those so
                        effectively in use at Audio Asylum
                        and
                        other forums.</b>
                    <br>
                    <b><u>The Basics</u></b>
                    <br>
                    Although the administrators and moderators of Awdio Aber will attempt to keep all objectionable
                    messages
                    off
                    this forum, it is impossible for us to review all messages. All messages express the views of the
                    author,
                    and the owners of Awdio Aber will not be held responsible for the content of any message.<br>
                    <br>
                    By agreeing to these rules, you warrant that you will not post any messages that are obscene,
                    vulgar,
                    sexually-oriented, hateful, threatening, or otherwise violative of any laws.<br>
                    <br>
                    Awdio Aber reserves the right to remove, edit, move or close any thread for any reason.
                    <br>
                    <u><b>Posting Etiquette</b></u>
                    <br>
                    <ol>
                        <li data-xf-list-type="ol">Be polite. We encourage debating in the forums, but please avoid
                            defamatory
                            statements, personal attacks, racial slurs, name-calling, and cursing at others in the
                            forums.
                        </li>
                        <li data-xf-list-type="ol">Awdio Aber's forums are generally geared for headphone high fidelity
                            enthusiasts, but the several categories of forums within Awdio Aber generally allow for
                            discussion of
                            general audio topics and even completely non-headphone / non-audio / non-music topics (e.g.,
                            the
                            Members' Lounge forum). We ask that you please make a concerted effort to post in the
                            appropriate
                            forums.</li>
                        <li data-xf-list-type="ol">Considering that our member base is made up of people from a wide
                            range
                            of
                            ages, from pre-adults to senior citizens -- and also a great variety of cultures, beliefs
                            and
                            social
                            standards -- swearing on the forums is not allowed. Our general standard is this: if it
                            would
                            not be
                            allowed on U.S. network primetime television, it will most likely not be allowed on Awdio
                            Aber's
                            forums. If you need further clarification, feel free to contact a moderator.</li>
                        <li data-xf-list-type="ol">Do not post copyrighted or trademarked material without first
                            obtaining
                            the
                            express permission to do so by the copyright or trademark holder or a legally authorized
                            agent
                            of
                            the copyright or trademark holder. In short, this means no posting verbatim copies of
                            copyrighted
                            articles or logos without first obtaining the proper permission to do so.</li>
                        <li data-xf-list-type="ol">If what you want to post includes words/phrases like "placebo,"
                            "expectation
                            bias," "ABX," "blind testing," etc., please post it in the Sound Science forum.</li>
                        <li data-xf-list-type="ol">We do not allow the discussion of politics or religion in any of our
                            forums.
                        </li>
                        <li data-xf-list-type="ol">Do not cross-post. (Cross-posting is posting the same post to more
                            than
                            one
                            thread, or the same thread to more than one forum.)</li>
                        <li data-xf-list-type="ol">Use only one username. Multiple profiles for the same individual are
                            not
                            allowed. Use of multiple profiles may result in an immediate ban.</li>
                    </ol>
                    <br>
                    For more information, please see the Posting
                    Guidelines.
                    <br>
                    <u><b>Member of the Trade Rules</b></u>
                    <br>
                    Please note that Sponsors are exempted from some of these rules.<br>
                    <ul>
                        <li data-xf-list-type="ul">"Member of the Trade" includes (but is not limited to) manufacturers;
                            individuals selling items he or she made for more than the cost of parts and/or actual
                            shipping
                            charges; individuals selling items acquired (or made by the individual and/or his
                            associates)
                            for
                            the primary purpose of resale; individuals performing services (like modifications or any
                            other
                            service) for which the price charged is more than the cost of parts and/or actual shipping
                            charges;
                            dealers; distributors; manufacturer's representatives; importers; magazine and e-zine
                            writers.
                        </li>
                        <li data-xf-list-type="ul">A Member of the Trade cannot use his/her business name, business
                            logo,
                            product name, brand name, product, postal address, e-mail address, telephone number or URL
                            as
                            part
                            of their Awdio Aber username, avatar, profile, or signature. All Members of the Trade must
                            contact
                            the forum administrator at the link below to notify them of an interest
                            in posting before making any posts. If a forum member who was not previously a Member of the
                            Trade
                            becomes a Member of the Trade, they must notify the forum administrator of the change in
                            status.
                            After
                            notification of the "Member of the Trade" status, the forum administrator will then add a
                            “Member of
                            the Trade” custom title to the member’s profile with the business name.</li>
                        <li data-xf-list-type="ul">A Member of the Trade may not post announcements, advertisements,
                            sales
                            information or the like, including classifieds or pictures, about a product he makes or
                            sells in
                            the
                            Main Forums, or via Private Messaging, unless pre-approved by the site's administrators.
                        </li>
                        <li data-xf-list-type="ul">A Member of the Trade may not--via the forums or Private
                            Messaging--volunteer
                            any information about a specific product that he is selling or making, in response to a
                            general
                            request for information about a type of product or in any other discussion in the Main
                            Forums.</li>
                        <li data-xf-list-type="ul">A Member of the Trade may not post subjective assessments or negative
                            comments about the products/services of competitors or other Members of the Trade.</li>
                        <li data-xf-list-type="ul">A Member of the Trade may not review (or make any subjective
                            assessments of) his or her services and/or products he or she manufacturers, represents,
                            sells.</li>
                        <li data-xf-list-type="ul">Awdio Aber Private Messaging is not to be used for unsolicited
                            advertising.
                            Using Awdio Aber Private Messaging for unsolicited advertising may result in at least a
                            temporary ban
                            of the sender from Awdio Aber.</li>
                        <li data-xf-list-type="ul">Astroturfing and shilling, which is posting about products one is
                            affiliated
                            with under the guise/profile of a non-affiliated person, is extremely frowned upon by the
                            moderators
                            and admins of Awdio Aber, and may result in a permanent ban from Awdio Aber.</li>
                    </ul>
                    <u><b>Youtube Content</b></u>
                    <br>
                    <ol>
                        <li data-xf-list-type="ol">Posting of personal video content (e.g., YouTube videos):If you wish
                            to
                            post
                            a personal video on Awdio Aber.org, please keep the video content relevant to the Awdio Aber
                            community.Also, you cannot simply post a link to your video or your video channel.That is,
                            for
                            any
                            personal video you wish to post, it must be embedded in the post.This rule was put in place
                            because
                            there has been an increasing tendency for people to simply redirect people to their video
                            channels
                            via linking, to promote their personal video channels.</li>
                        <li data-xf-list-type="ol">Promotion of Member of the Trade video content (similar to, but not
                            limited
                            to, YouTube videos):If you are a Member of the Trade, and you wish to post video content
                            that is
                            in
                            any way promoting your company, products, services, etc., you must first contact Jude via
                            private
                            messaging or email for approval first.If you receive approval to post your video, then the
                            rules
                            regarding posting of personal video content will apply.</li>
                    </ol>
                    <u><b>Moderation</b></u>
                    <br>
                    <ol>
                        <li data-xf-list-type="ol">Awdio Aber reserves the right, in its sole discretion, to delete
                            posts.
                            In most
                            cases, the individual who made the deleted post will be notified via e-mail and/or chat
                            and/or
                            private messaging and/or telephone with a reason for the deletion.</li>
                        <li data-xf-list-type="ol">Awdio Aber reserves the right, in its sole discretion, to edit posts.
                            In
                            most
                            cases, posts are deleted instead of edited. In most cases, if a post is edited, the
                            individual
                            who
                            made the post that was edited will be notified via e-mail and/or chat and/or private
                            messaging
                            and/or telephone with a reason for the edit(s).</li>
                        <li data-xf-list-type="ol">Awdio Aber reserves the right, in its sole discretion, to temporarily
                            or
                            permanently ban any individuals. In most cases, the individual who was banned will be
                            contacted
                            with
                            a reason for the ban.</li>
                        <li data-xf-list-type="ol">Do not post on Awdio Aber's forums on behalf of individuals who are
                            banned from
                            Awdio Aber. Such posts may be removed with or without notice.</li>
                        <li data-xf-list-type="ol">Awdio Aber does not allow the posting of links to the websites of
                            banned
                            members. Such links may be removed with or without notice.</li>
                        <li data-xf-list-type="ol">Discussion of blind testing is only allowed in the Sound Science
                            forum.
                        </li>
                        <li data-xf-list-type="ol">Awdio Aber does not screen posts before they are made available for
                            viewing on
                            the forums, unless otherwise specifically indicated.</li>
                        <li data-xf-list-type="ol">Awdio Aber also does not routinely scan every message posted to
                            determine
                            if all
                            posts are in compliance with the Awdio Aber Posting Rules and Terms of Use.</li>
                        <li data-xf-list-type="ol">Awdio Aber does not guarantee the accuracy of information contained
                            in
                            any post
                            made in the Awdio Aber Forums and so assumes no legal responsibility for any posts made in
                            Awdio
                            Aber.
                        </li>
                        <li data-xf-list-type="ol">The content of any post is solely the responsibility of the poster,
                            even
                            if
                            that poster is an administrator and / or moderator of Awdio Aber.</li>
                        <li data-xf-list-type="ol">Awdio Aber will cooperate with any valid subpoena or other legal
                            process
                            in
                            supplying copies of posts and any information Awdio Aber has concerning the identity of a
                            poster, to
                            the extent that such information is not already available to anyone who accesses Awdio Aber.
                        </li>
                    </ol>
                    <u><b>Other</b></u>
                    <br>
                    <ol>
                        <li data-xf-list-type="ol">PLEASE: We ask you to please NOT display your email address in your
                            profile.
                            We ask this, so as to limit the attraction to email spamming robot collectors (spamming
                            bots).
                        </li>
                        <li data-xf-list-type="ol">Awdio Aber makes no claim of authorship or copyright ownership with
                            respect to
                            any post.</li>
                        <li data-xf-list-type="ol">Awdio Aber shall have the right at any time to change or discontinue
                            any
                            aspect
                            or feature of the Awdio Aber Web Site and Awdio Aber Forums including, but not limited to,
                            user
                            participatory areas, content, hours of availability, and equipment needed for access or use.
                            Such
                            changes, modifications, additions or deletions shall be effective immediately upon notice
                            thereof,
                            which may be given by means including but not limited to, posting in the Awdio Aber user
                            participatory
                            areas a revised version of these Rules and Terms of Use or notification by electronic mail.
                            Any
                            use
                            by you of the Awdio Aber Web Site, Awdio Aber Forums, and/or any other Awdio Aber user
                            participatory areas
                            after such notice shall conclusively be deemed to be acceptance by you of such changes,
                            modifications, additions or deletions. You agree to review the terms and conditions of this
                            Awdio Aber
                            Posting Rules and Terms of Use periodically to be aware of such revisions.</li>
                        <li data-xf-list-type="ol">The Awdio Aber Web Site, Awdio Aber Forums and any other Awdio Aber
                            user
                            participatory
                            areas shall be used for lawful purposes only. No material shall be posted on or transmitted
                            through
                            the Awdio Aber Web Site, Awdio Aber Forums and any other Awdio Aber user participatory
                            areas,
                            which violates
                            or infringes in any way upon the rights of others, which is unlawful, threatening, abusive,
                            defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane, indecent or
                            otherwise
                            objectionable, which encourages conduct that would constitute a criminal offense, gives rise
                            to
                            civil liability or otherwise violates any law.</li>
                        <li data-xf-list-type="ol">Awdio Aber reserves the right, in its sole discretion, in the future,
                            to
                            add,
                            remove, change, or modify all or part of these Posting Rules and Terms of Use at any time;
                            so,
                            if
                            you wish to continue using and/or visiting Awdio Aber.org, please review the Awdio Aber
                            Rules
                            and Terms of
                            Use frequently to keep abreast of any changes.</li>
                    </ol>
                    <br>
                    <b>Phishing</b>
                    <br>
                    Identity theft and the practice currently known as “phishing” are of great concern to Awdio Aber.
                    Safeguarding
                    information to help protect you from identity theft is a top priority. We do not and will not, at
                    any time,
                    request your credit card information, your account ID, login password, or national identification
                    numbers in
                    a non-secure or unsolicited e-mail or telephone communication. For more information about phishing,
                    visit
                    the Federal Trade Commission’s website.
                    <br>
                    <b>Information Sharing and Disclosure</b>
                    <br>
                    Members. We will display your Personal Information in your profile page and elsewhere on the Site
                    according
                    to the preferences you set in your account. Any information you choose to provide should reflect how
                    much
                    you want other Members and unregistered Site users to know about you. We recommend that you guard
                    your
                    anonymity and sensitive information and we encourage members to think carefully about what
                    information about
                    themselves they disclose in their profile pages. You can review and revise your profile information
                    at any
                    time.
                    <br>
                    <b>Aggregate Information and Non-Identifying Information.</b>
                    We may share aggregated information that does
                    not
                    include Personal Information and we may otherwise disclose Non-Identifying Information and Log Data
                    with
                    third parties for industry analysis, demographic profiling and other purposes. Any aggregated
                    information
                    shared in these contexts will not contain your Personal Information.
                    <br>
                    <b>Service Providers.</b> We may employ third-party companies (such as Huddler) and individuals to
                    facilitate and
                    provide the Site and Services, including, without limitation, maintenance services, database
                    management, web
                    analytics and improvement of the features of the Site and Services, analyzing how the Site and
                    Services are
                    used. These third parties have access to your Personal Information only to perform these tasks on
                    our behalf
                    and are obligated not to disclose or use it for any other purpose. We may also provide Personal
                    Information
                    to our business partners or other trusted entities for the purpose of providing you with information
                    on
                    goods or services we believe will be of interest to you. You can, at any time, opt out of receiving
                    such
                    information.
                    <br>
                    <b>Compliance with Laws and Law Enforcement.</b>
                    Awdio Aber cooperates with government and law enforcement
                    officials
                    and private parties to enforce and comply with the law. We will disclose any information about you
                    to
                    government or law enforcement officials or private parties as we, in our sole discretion, believe
                    necessary
                    or appropriate to respond to claims and legal process (including but not limited to subpoenas), to
                    protect
                    the property and rights of Awdio Aber or a third party, to protect the safety of the public or any
                    person, or
                    to prevent or stop activity we may consider to be, or to pose a risk of being, any illegal,
                    unethical or
                    legally actionable activity.
                    <br>
                    Business Transfers. Awdio Aber may sell, transfer or otherwise share some or all of its assets,
                    including your
                    Personal Information, in connection with a merger, acquisition, reorganization or sale of assets or
                    in the
                    event of bankruptcy.
                    <br>
                    <b>Changing or Deleting Your Information</b>
                    <br>
                    All Members may review, update, correct or delete the Personal Information in their registration
                    profile by
                    contacting us. If you completely delete all such information, then your account may become
                    deactivated. If
                    you would like us to delete your record in our system, please contact us using the link below with a
                    request that we delete
                    your Personal
                    Information from our database. We will use commercially reasonable efforts to honor your request. We
                    may
                    retain an archived copy of your records as required by law or for legitimate business purposes.
                    <br>
                    <b>Publicly Accessible Areas of the Service and Private Messaging</b>
                    <br>
                    "Publicly accessible" areas of the Service are those areas of Awdio Aber that are intended by Awdio
                    Aber's
                    management to be available to the general public. By way of example, publicly accessible areas of
                    the
                    Service would include Awdio Aber Message Boards that are open to both members and visitors. However,
                    publicly
                    accessible areas of the Service would not include portions of Awdio Aber that are limited to
                    members. The use
                    of the the Private Messaging Service is not “Private” in the sense that it is a message seen only by
                    the
                    sender and receiver. While the message is private from the rest of the members, it is not encrypted
                    and the
                    administration of Awdio Aber can view them if needed. All rules that apply to posting on the Main
                    Forums ALSO
                    apply to the use of our Private Messaging System and violators may have their posting privileges
                    subject to
                    the same revocations as on the Forum in general.
                    <br>
                    <b>Security</b>
                    <br>
                    Awdio Aber is very concerned with safeguarding your information. We employ reasonable physical,
                    technological,
                    and administrative security measures and attempt to ensure they are applicable under the
                    circumstances. No
                    method of transmission over the Internet, or method of electronic storage, is 100% secure, however.
                    Therefore, while we strive to use commercially acceptable means to protect your personal
                    information, we
                    cannot guarantee its absolute security.
                    <br>
                    We will make any legally required disclosures of any breach of the security, confidentiality, or
                    integrity
                    of your unencrypted electronically stored “personal data” (as defined in applicable state statutes
                    on
                    security breach notification) to you via email or conspicuous posting on this Site in the most
                    expedient
                    time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of
                    law
                    enforcement or (ii) any measures necessary to determine the scope of the breach and restore the
                    reasonable
                    integrity of the data system.
                    <br>
                    <b>International Transfer</b>
                    <br>
                    Your information may be transferred to — and maintained on — computers located outside of your
                    state,
                    province, country or other governmental jurisdiction where the privacy laws may not be as protective
                    as
                    those in your jurisdiction. If you are located outside the United States and choose to provide
                    information
                    to us, Awdio Aber transfers Personal Information to the United States and processes it there. Your
                    consent to
                    this Privacy Policy followed by your submission of such information represents your agreement to
                    that
                    transfer.
                    <br>
                    <b>Links to Other Sites</b>
                    <br>
                    The Site contains links to other websites. If you choose to visit an advertiser by “clicking on” a
                    banner ad
                    or other type of advertisement, or click on another third-party link, you will be directed to that
                    third
                    party’s website. The fact that we link to a website or present a banner ad or other type of
                    advertisement is
                    not an endorsement, authorization or representation of our affiliation with that third party, nor is
                    it an
                    endorsement of their privacy or information security policies or practices. We do not exercise
                    control over
                    third-party websites. These other websites may place their own cookies or other files on your
                    computer,
                    collect data or solicit personal information from you. Other sites follow different rules regarding
                    the use
                    or disclosure of the personal information you submit to them. We encourage you to read the privacy
                    policies
                    or statements of the other websites you visit.
                    <br>
                    <b>Our Policy Toward Children</b>
                    <br>
                    This Site is not directed to children under 13. We do not knowingly collect personally identifiable
                    information from children under 13.
                    <br>
                    <u><b>Contacting Us</b></u>
                    <br>
                    If you have any questions about this Privacy Policy, please contact us here:
                <br>
                <br>
                <div class="text-center">
                    <h4>
                        <a href="{% url 'contact' %}" class="btn btn-outline-black rounded-0"><i
                                class="fas fa-shopping-bag"></i> Get in touch</a>
                    </h4>
                </div>
                <div class="text-center">
                    <br>
                    <br>
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0"><i
                                class="fas fa-shopping-bag"></i> Take me
                            shopping!</a>
                    </h4>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}