
/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Megrim&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/*----- ROOT VARIABLES -----*/
:root {
    /*----- Typography -----*/
    --title-text: font-family: 'Megrim', cursive;
    --header-text: font-family: 'Dosis', sans-serif;
    --content-text: font-family: 'Ubuntu', sans-serif;

        /*----- Colours -----*/
        --white: #ffffff;
        --black: #000000;
        --light-blue: #00b7af;
        --grey:#4f4f4f;
    }
    
    * {
        margin: 0;
        padding: 0;
        }
    
    /*----- Headings & Text -----*/

html {
    height: 100%;
}

body {
	background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Dosis';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.logo-font {
    
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,	
.update-link,	
.remove-item {	
    cursor: pointer;	
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */	
.message-container {	
    position: fixed;	
    top: 72px;	
    right: 15px;	
    z-index: 99999999999;	
}	
.custom-toast {	
    overflow: visible;	
}	
.toast-capper {	
    height: 2px;	
}	
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */	
.arrow-up {	
    width: 0; 	
    height: 0; 	
    border-left: 4px solid transparent;	
    border-right: 4px solid transparent; 	
    border-bottom: 10px solid black;	
    position: absolute;	
    top: -10px;	
    right: 36px;	
}	
/* Convenience classes - colors copied from Bootstrap */	
.arrow-primary {	
    border-bottom-color: #007bff !important;	
}	
.arrow-secondary {	
    border-bottom-color: #6c757d !important;	
}	
.arrow-success {	
    border-bottom-color: #28a745 !important;	
}	
.arrow-danger {	
    border-bottom-color: #dc3545 !important;	
}	
.arrow-warning {	
    border-bottom-color: #ffc107 !important;	
}	
.arrow-info {	
    border-bottom-color: #17a2b8 !important;	
}	
.arrow-light {	
    border-bottom-color: #f8f9fa !important;	
}	
.arrow-dark {	
    border-bottom-color: #343a40 !important;	
}	
.bag-notification-wrapper {	
    height: 100px;	
    overflow-x: hidden;	
    overflow-y: auto;	
}

/*----- ALLAUTH FORMS -----*/
/* Allauth form formatting */
.allauth-form-inner-content input {
    border-color: var(--black);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--grey);
}

.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: var(--dark-blue);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    
    /* Standard Bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input [type='submit']:hover {
    color: var(--white);
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

  /* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

.btn-file input[type="file"] {	
    position: absolute;	
    top: 0;	
    right: 0;	
    min-width: 100%;	
    min-height: 100%;	
    opacity: 0;	
    cursor: pointer;	
}	
.custom-checkbox .custom-control-label::before {	
    border-radius: 0;	
    border-color: #dc3545;	
}	
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {	
    background-color: #dc3545;	
    border-color: #dc3545;	
    border-radius: 0;	
}	
/* fixed top navbar only on medium and up */	
@media (min-width: 992px) {	
    .fixed-top-desktop-only {	
        position: fixed;	
        top: 0;	
        right: 0;	
        left: 0;	
        z-index: 1030;	
    }	
    .header-container {	
        padding-top: 164px;	
    }	
}	
/* pad the top a bit when navbar is collapsed on mobile */	
@media (max-width: 991px) {	
    .header-container {	
        padding-top: 116px;	
    }	
    body {	
        height: calc(100vh - 116px);	
    }	
    .display-4.logo-font.text-black {	
        font-size: 2rem;	
    }	
    .nav-link {	
        padding: 0.15rem;	
    }	
    .nav-link i.fa-lg {	
        font-size: 1rem;	
    }	
    .navbar-toggler {	
        padding: .6rem .6rem;	
        font-size: 1rem;	
    }	
    #delivery-banner h4 {	
        font-size: .9rem;	
    }	
    .btn.btn-outline-black.rounded-0,	
    .btn.btn-black.rounded-0 {	
        padding: .375rem .375rem;	
    }	
    .btn.btn-outline-black.rounded-0.btn-lg,	
    .btn.btn-black.rounded-0.btn-lg {	
        padding: .375rem .375rem;	
        font-size: .75rem;	
    }	
    .increment-qty, .decrement-qty {	
        padding: .25rem .5rem !important;	
    }	
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

#main-nav-header {
    background-color: white;
}

#main-nav-header h1 {
    font-family: 'Megrim';
}

#footer-div {
    background-color: white;
}

#footer-div li {
    padding: 2vh;
    list-style:none;
    color: #000;
}

#hero-image {
    background: no-repeat center center fixed;
    max-height: max-content;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/* (A) STANDARD ROW HEIGHT */
.vwrap, .vitem {
    height: 30px;
    line-height: 30px;
  }
   
  /* (B) FIXED WRAPPER */
  .vwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #eee;
  }
  /* (C) TICKER ITEMS */
  .vitem { text-align: center; }
   
  /* (D) ANIMATION - MOVE ITEMS FROM TOP TO BOTTOM */
  /* CHANGE KEYFRAMES IF YOU ADD/REMOVE ITEMS */
  .vmove { position: relative; }
  @keyframes tickerv {
    0% { bottom: 0; } /* FIRST ITEM */
    30% { bottom: 30px; } /* SECOND ITEM */
    60% { bottom: 60px; } /* THIRD ITEM */
    90% { bottom: 90px; } /* FORTH ITEM */
    100% { bottom: 0; } /* BACK TO FIRST */
  }
  .vmove {
    animation-name: tickerv;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, .5, 0);
  }
  .vmove:hover { animation-play-state: paused; }

.blunder {
    font-family: 'Megrim', cursive;
}