
/*----- GOOGLE FONTS IMPORT -----*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Megrim&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/*----- ROOT VARIABLES -----*/
:root {
    /*----- Typography -----*/
    --title-text: font-family: 'Megrim', cursive;
    --header-text: font-family: 'Dosis', sans-serif;
    --content-text: font-family: 'Ubuntu', sans-serif;

        /*----- Colours -----*/
        --white: #ffffff;
        --black: #000000;
        --light-blue: #00b7af;
        --grey:#4f4f4f;
    }
    
    * {
        margin: 0;
        padding: 0;
        }
    
    /*----- Headings & Text -----*/

html {
    height: 100%;
}

body {
    background: /*url('/media/campfire-audio-solaris-SE.jpg')*/ no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Dosis';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.logo-font {
    
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

  /* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

#main-nav-header {
    background-color: white;
}

#main-nav-header h1 {
    font-family: 'Megrim';
}

#footer-div {
    background-color: white;
}

#footer-div li {
    padding: 1vh;
    list-style:none;
    color: #000;
}

#hero-image{
    background: url('/media/campfire-audio-solaris-SE.jpg') no-repeat center center fixed;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
