{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<a name="privacy"></a><span style="font-size: 18px"><u><b>Awdio Aber Privacy Policy</b></u></span><br>
            <br>
            Awdio Aber (“Awdio Aber”, “our”, “us” or “we”) provides this Privacy Policy to inform you of the policies and
            procedures that govern the collection, use and disclosure of personal information from users of our website,
            accessible at <a href="http://www.Awdio Aber.org/" class="link link--internal">www.Awdio Aber.org</a> (the
            “Site”). This Privacy Policy applies only to information that you provide to us through the Site. Unless
            otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our
            Awdio Aber Rules/Terms of Use (<a href=""
                class="link link--internal"></a>).<br>
            </ol>
            <br>
            This Privacy Policy may be updated from time to time. We will notify you of any material changes by posting
            the new Privacy Policy on the Site. You are advised to consult this policy regularly for any changes.<br>
            <br>
            As used in this policy, the terms “using” and “processing” information include using cookies on a computer,
            subjecting the information to statistical or other analysis and using or handling information in any way,
            including, but not limited to collecting, storing, evaluating, modifying, deleting, using, combining,
            disclosing and transferring information within our organization or among our affiliates within the United
            States or internationally.<br>
            <br>
            <a name="info"></a><span style="font-size: 18px"><u><b>Information Collection and Use</b></u></span><br>
            <br>
            <b>Personally Identifiable Information</b><br>
            <ol>
                <li data-xf-list-type="ol">When you register with us through the Site we will ask you for certain
                    personally identifiable information. This refers to information about you that can be used to
                    contact or identify you (“Personal Information”). Personal Information includes, but is not limited
                    to, your name, phone number, credit card or other billing information, email address and home and
                    business postal addresses. Personal Information may also include information you supply to us
                    concerning your preferences and interests expressed in the course of use of the Site and Services.
                </li>
                <li data-xf-list-type="ol">We use Personal Information for the following purposes: (i) to provide the
                    Site and the Services and to administer your inquiries; (ii) to enable users to easily use and
                    navigate the Site and the Services; (iii) to improve and optimize the Services; (iv) to better
                    understand users’ needs and interests, (v) to personalize your experience; and (vi) to provide you
                    with further information and offers from us that we believe you may find useful or interesting. If
                    you decide at any time that you no longer wish to receive such communications from us, please follow
                    the unsubscribe instructions provided in any of the communications or select the appropriate option
                    via your Account.</li>
                <li data-xf-list-type="ol">We also collect the other information that you provide as part of
                    registration and the administration and personalization of your Account profile (e.g., without
                    limitation, zip code (on its own) and individual preferences or demographic information)
                    ("Non-Identifying Information"). We use your Personal Information (in some cases, in conjunction
                    with your Non-Identifying Information) for the purposes described in this Privacy Policy only and
                    particularly to provide the Services, complete your transactions, and administer your inquiries.
                    Certain Non-Identifying Information would be considered a part of your Personal Information if it
                    were combined with other identifiers (for example, combining your zip code with your street address)
                    in a way that enables you to be identified. But the same items of information are considered
                    Non-Identifying Information when they are taken alone or combined only with other non-identifying
                    information (for example, your demographic information). We may combine your Personal Information
                    with Non-Identifying Information and aggregate it with information collected from other Members or
                    unregistered users for internal purposes only to attempt to provide you with a better experience, to
                    improve the quality and value of the Services and to analyze and understand how our Site and
                    Services are used.</li>
                <li data-xf-list-type="ol">We also use your Personal Information to contact you with Awdio Aber
                    newsletters, marketing or promotional materials and other information that may be of interest to
                    you. If you decide at any time that you no longer wish to receive such communications from us,
                    please follow the unsubscribe instructions provided in any of the communications or select the
                    appropriate option via your Account.</li>
            </ol><b>Log Data</b><br>
            <br>
            When you visit the Site, whether as a Member or as an unregistered user just browsing, our servers
            automatically record information that your browser sends whenever you visit a website (“Log Data”). This Log
            Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type or the
            webpage you were visiting before you came to our Site, pages of our Site that you visit, the time spent on
            those pages, information you search for on our Site, access times and dates, and other statistics. We use
            this information to monitor and analyze use of the Site and the Services and for the Site’s technical
            administration, to increase our Site’s functionality and user-friendliness, and to better tailor it to our
            visitors’ needs. For example, some of this information is collected so that when you visit the Site again,
            it will recognize you and serve advertisements and other information appropriate to your interests. We also
            use this information to verify that visitors to the Site meet the criteria required to process their
            requests. We do not treat Log Data as Personal Information or use it in association with other Personal
            Information, though we may aggregate, analyze and evaluate such information for the same purposes as stated
            above regarding other Non-Identifying Information.<br>
            <br>
            <b>Cookies</b><br>
            <br>
            Like many websites, we use “cookies” to collect information. A cookie is a small data file that we transfer
            to your computer’s hard disk for record-keeping purposes. We use cookies for two purposes. First, we utilize
            persistent cookies to save your registration ID and login password for future logins to the Site. Second, we
            utilize session ID cookies to enable certain features of the Site, to better understand how you interact
            with the Site and to monitor aggregate usage by Members and unregistered users and web traffic routing on
            the Site. Unlike persistent cookies, session cookies are deleted from your computer when you log off from
            the Site and Services and then close your browser. Third-party advertisers on the Site may also place or
            read cookies on your browser. You can instruct your browser, by changing its options, to stop accepting
            cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept
            cookies, however, you may not be able to use all portions of the Site or all functionality of the Services.
            If you would like to opt-out of Non Personally Identifiable Information (PII) cookie tracking, please visit
            the NAI opt-out page here: <a href="http://www.networkadvertising.org/choices/" target="_blank"
                class="link link--external" rel="noopener">http://www.networkadvertising.org/choices/</a>.<br>
            <br>
{% endblock %}