{% extends "base.html" %}
{% load static %}

{% block head_title %} - Blog | Delete {% endblock head_title %}
{% block content %}

<div id="about-pic">
    <div class="container center-block">
        <div class="overlay border border-white ">
            <div class="col p-4">
                <p class="text-red aw display-3 text-center">Delete Blog </p>
                <h4 class="text-wht aw text-center">Are you sure you want to delete
                    <br>
                    <br>
                    {{ object.title|title }} ? </h4>
                <form class="" action="" method="POST">
                    {% csrf_token %}
                    <button class="mt-3 w-100 text-bk aw btn btn-danger border border-dark" type="submit"><i
                            class="mr-3 text-grn fas fa-check fa-lg"></i>Yes. Delete
                        this post
                        Post</button>
                </form>
                <span><a href="{{ object.get_absolute_url }}"
                        class="aw text-wht mt-3 w-100 btn btn-success text-bk border border-white">
                        <i class="mr-3 text-red  fas fa-times-circle fa-lg"></i>No. Take me back to blogs </a></span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
