{% extends "base.html" %}

{% block head_title %} - Blog {% endblock head_title %}

{% block content %}

<div class="blog-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'blog:list' %}" title="Back to Blogs">Blogs</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% if user.is_authenticated %}
                <a class="text-wht aw pl-2" href="{% url 'blog:create' %}">Create</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% endif %}
                <small class="text-wht aw">Blog Details</small>
            </div>
        </div>
    </div>
    <div class="container center-block max-width">
        <div class="row mx-auto bg-black-a text-wht">
            <!-- Post Content Column -->
            <div class="col-lg-12 ">
                <!-- Title -->
                <h1 class="mt-4 aw text-center"> {{ blog.title|title }}</h1>
                <!-- Author -->
                <p class="lead">
                    <a href="{% url 'blog:author' blog.author.id %}" title="See all Blogs by: {{ blog.author|title }}">
                        By: {{ blog.author|title }}
                    </a>
                    {% if user.is_authenticated and user == blog.author %}
                    <span><a class=" font-small ml-3 mb-0 text-grn" href="{{ blog.get_update_url }}"> (Edit)</a></span>
                    <span class="font-small mb-0 text-wht">/</span>
                    <span><a class="font-small mb-0 text-red" href="{{ blog.get_delete_url }}"> (Delete)</a></span>
                    {% endif %}
                </p>

                <hr>

                <!-- Date/Time -->
                <span><i class="px-2 text-grn fa fa-eye"></i> {{ blog.get_view_count }}</span>
                <span><i class="px-2 text-primary fa fa-thumbs-up"></i> {{ blog.get_like_count }}</span>
                <span><i class=" px-2 text-ylw fa fa-comments-o"></i> {{ blog.get_comment_count }}</span>
                <span class="text-mute float-right">Posted: {{ blog.publish_date|timesince }}</span>


                <hr class="hr-wht">

                <!-- Preview Image -->
                {% if blog.category != 'Members' %}
                <img class="img-fluid mx-auto rounded" src="{{ blog.thumbnail.url }}" alt="Blog Pic">
                {% else %}
                <img class="img-fluid mx-auto rounded" style="width: 12rem;" src="{{ blog.thumbnail.url }}"
                    alt="Blog Pic">
                {% endif %}
                <hr class="hr-wht">

                <!-- Post Content -->
                <p class="text-off-wht-d  mx-auto">{{ blog.content|safe }}</p>
                <hr class="hr-gry">
                <small class="text-muted">First Posted on the {{ blog.publish_date}}</small>
                <hr class="hr-wht">
                <p class="">If you like the Post, give it a
                    <a class="text-muted" href="{{ blog.get_like_url }}">
                        <i class="pl-2 text-primary fa fa-thumbs-up fa-lg"></i>
                        {{ blog.get_like_count }}
                    </a>
                </p>

                <hr class="hr-wht">

                {% if request.user.is_authenticated %}
                <!-- Comments Form -->
                <button type="button" class="ripple-surface btn btn-primary hover-shadow border-bk aw"
                    data-toggle="modal" data-target="#blog_Modal">
                    WRITE A COMMENT
                </button>
                <!-- The Modal -->
                <div class="modal" id="blog_Modal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header bg-black-a">
                                <h3 class="modal-title text-wht aw">Comments</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class=" card my-4">
                                    <p class="text-bk aw">{{ blog.name }}</p>

                                    <small class="text-bk">By clicking the button below you have agreed to the term and
                                        condition of
                                        focus-fitness.com</small>

                                    <p class="text-bk">Leave a Comment Below:</p>
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <button type="submit"
                                                class="ripple-surface aw btn btn-primary border-bk hover-shadow">Post
                                                Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <hr class="hr-gry">
                <p class="mx-auto text-center"><small>By clicking the button above, you agree to entering the
                        <br>Focus-Fitness.com Blog comment sections. Logged in members may post comments suggestions,
                        ideas,
                        questions or other information, as long as the content is not illegal, obscene, abusive,
                        threatening, defamantory or invasive of privacy.</small></p>
                <hr class="hr-gry">
                {% else %}
                <a href="{% url 'account_login' %}" class="aw mb-4 btn btn-warning">Login to Comment</a>
                {% endif %}

                <h5 class=" aw text-primary">Comments</h5>
                <hr class="hr-wht">
                {% for blogcomment in blog.blogcomments %}
                <div class=" media mb-4">
                    <div class="media-body">
                        <h5 class="mt-0"><small class="mr-2 aw">From: </small>{{ blogcomment.user|title }}</h5>
                        <p class="pl-3">{{ blogcomment.content}}</p>
                        <small>{{ blogcomment.timestamp|timesince }} ago</small>
                    </div>
                </div>
                <hr class="hr-gry">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

{% endblock content %}
