{% extends "base.html" %}
{% load static %}
{% load user_agents %}

{% block head_title %} - All Blogs {% endblock head_title %}
{% block content %}


<!-- Page Content -->
<div class="blog-pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'home' %}" title="Back to Home Page">Home</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% if user.is_authenticated %}
                <a class="text-wht aw pl-2" href="{% url 'blog:create' %}">Create</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% endif %}
                <small class="text-wht aw">Blogs</small>
            </div>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col-md-8">
            <div class="alpha-overlay">
                <h1 class="my-4 aw text-red text-center">Featured Blogs</h1>
            </div>
            <!-- Featured Blog feature carousel -->
            <div id="feature_carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner text-wht">
                    {% for blog in feature_blog %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                        id="slide{{ forloop.counter }}">
                        <a class="" href="{{ blog.get_absolute_url }}">
                            <img class="d-block carosel-img mx-auto" src="{{ blog.thumbnail.url }}" alt="First slide">
                            <div class="row justify-content-center">
                                <h5 class="text-center text-wht">{{ blog.title|title }}</h5>
                            </div>
                            <p class="text-center text-wht"> <small class="text-wht">Author: </small>
                                &nbsp;{{ blog.author|title }}</p>
                        </a>
                        <div class="row w-100 justify-content-center">
                            <a class="text-grn {% if blog.category  == 'Dieting' %} text-primary 
                            {% elif blog.category  == 'Recovery' %} text-warning 
                            {% elif blog.category  == 'Endurance' %} text-info
                            {% elif blog.category  == 'Covid-19' %} text-danger 
                            {% elif blog.category  == 'Members' %} text-light 
                            {% else %} text-success {% endif %}" href="{{ blog.get_absolute_url }}">
                                <i class="mx-2 fa fa-tags"></i>
                                <small>{{ blog.category }}</small>
                            </a>
                            <div class="text-center col-2"><span><i class="text-grn fa fa-eye"></i>
                                    {{ blog.get_view_count }}</span></div>
                            <div class="text-center col-2"><span><i class="text-primary fa fa-thumbs-up"></i>
                                    {{ blog.get_like_count }}</span><br></div>
                            <div class="text-center col-2"><span><i class="text-ylw fa fa-comments-o"></i>
                                    {{ blog.get_comment_count }}</span></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#feature_carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#feature_carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="alpha-overlay rounded-10">
                <h2 class="my-4 aw text-primary text-center">Blogs</h2>
            </div>
            <!-- All other blogs -->
            {% for blog in all_blogs %}
            {% if blog.featured != True %}
            {% if blog.category != 'Members' %}
            {% if screen_size == True %}
            {% include "blog/includes/blog_right.html" %}
            <!--else screen size-->
            {% else %}
            {% if not forloop.counter|divisibleby:2  %}
            {% include "blog/includes/blog_right.html" %}
            <!--else counter loop-->
            {% else %}
            {% include "blog/includes/blog_left.html" %}
            <!--endif counterloop-->
            {% endif %}
            <!--endif screen size-->
            {% endif %}
            <!--endif != members-->
            {% endif %}
            <!-- endif != featured-->
            {% endif %}
            <!-- endfor blog loop -->
            {% empty %}
            <div class="center-block-col bg-black-a rounded-10">
                <h1 class="text-wht">No Blogs Have Been Writen Yet</h1>
                <h3 class="text-wht">Right the First Blog <a href="{% url 'blog:create' %}">Hear</a></h3>
            </div>
            {% endfor %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <div id="blog-side-card" class="card my-4">

                <!-- Search Widget -->
                <div class="card-body mx-auto ">
                    <div class="input-group">
                        <form method="GET" action="{% url 'blog:search' %}" class="form-inline my-2 my-lg-0">
                            <input class="aw w-75 form-control mr-sm-2" name="s" type="search"
                                placeholder="Search Blogs" aria-label="Search">
                            <button class="ripple-surface aw btn btn-success my-2 my-sm-0" type="submit">Go!</button>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <button type="button"
                        class="font-lrg aw text-center ripple-surface card-header border border-success text-wht bg-green"
                        data-toggle="modal" data-target="#category_Modal">Categories<i
                            class="ml-2 fad fa-info-circle fa-lg"></i>
                    </button>
                    <div class="card-body bg-black-a">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for item in category_menu %}
                                    <a class=" dropdown-item aw
                                    {% if item.name  == 'Dieting' %} text-primary 
                                    {% elif item.name  == 'Recovery' %} text-warning 
                                    {% elif item.name  == 'Covid-19' %} text-danger 
                                    {% elif item.name  == 'Members' %} text-light 
                                    {% elif item.name  == 'Endurance' %} text-info
                                    {% else %} text-success {% endif %}" href="{% url 'blog:category' item %}"
                                        data-item_id="{{ item.name}}" id="blog_">{{ item }}</a>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Category Model -->
                <div class="modal" id="category_Modal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header bg-success">
                                <h3 class="modal-title text-wht aw">Blog Catogery Guid</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body bg-black-a">
                                <div class=" card my-4">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="aw text-center text-wht bg-black-a">Catogery</th>
                                                <th scope="col" class="aw text-center text-wht bg-black-a">Info</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="aw text-center">Members</th>
                                                <td>This is for the members how would like to post there first blog, or
                                                    ask a question or just tell us how you getting on with your
                                                    training.
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="aw bg-danger text-center">Covid-19</th>
                                                <td>This is for all Covid-19 gym related topics</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="aw bg-primary text-center">Dieting</th>
                                                <td colspan="2">This is for everything to with diet. Nutrision, tip and
                                                    infomation</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="aw bg-success text-center">Strength Training</th>
                                                <td colspan="2">All Blogs to do with Strength, builbing mussel, lifting
                                                    techniques, Tip and exercises</td>
                                            </tr>

                                            <tr>
                                                <th scope="row" class="aw bg-warning">Recovery</th>
                                                <td colspan="2">All blogs to do with recovery</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="aw bg-info">Endurance</th>
                                                <td colspan="2">All blogs that focus on the endurance training side of
                                                    thing, Running, Swimming</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Members Blogs -->
                {% if user.is_authenticated %}
                <div class="card my-4">
                    <button type="button"
                        class="font-lrg aw text-center ripple-surface card-header border border-warning text-wht bg-warning"
                        data-toggle="modal" data-target="#members_Modal">Member Blogs<i
                            class="ml-2 fad fa-info-circle fa-lg"></i>
                    </button>
                    <div class="card-body bg-black-a">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-unstyled mb-0">
                                    {% for blog in all_blogs %}
                                    {% if blog.category == 'Members' %}
                                    <li class=" p-2 border border-light rounded">
                                        <small class="text-wht"><i class="fa fa-user mr-2"></i>
                                            {{ blog.author|title }}</small>
                                        <a href="{{ blog.get_absolute_url }}">
                                            <p class="card-title text-center text-wht">{{ blog.title|title }}</p>
                                        </a>
                                        <div class="row justify-content-around">
                                            <div class="text-center text-wht col-md-2"><span><i
                                                        class="text-grn fa fa-eye"></i>
                                                    {{ blog.get_view_count }}</span></div>
                                            <div class="text-center text-wht col-md-2"><span><i
                                                        class="text-primary fa fa-thumbs-up"></i>
                                                    {{ blog.get_like_count }}</span><br></div>
                                            <div class="text-center text-wht col-md-2"><span><i
                                                        class="text-ylw fa fa-comments-o"></i>
                                                    {{ blog.get_comment_count }}</span></div>
                                        </div>
                                        <hr>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal" id="members_Modal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header bg-warning">
                                <h3 class="modal-title text-wht aw">Members Blogs Guid</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class=" card my-4">
                                    <p>As a member of Focus fitness you are entitled and encouraged to write blogs about
                                        your gym experience. </p>
                                    <p>Ask questions to our trainers about products in the shop or questions about blog
                                        posts.</p>
                                    <p>Our Trainers go over all the blogs that have been written here and will reply in
                                        the comment section of your blog.</p>
                                    <p>We use a text editor in our blog creation page so you upload pictures or link
                                        products and
                                        blog posts. If spelling is not your thing there is a spellchecker included.</p>
                                    <p>Focus Fitness is all about creating a community where you can not just survive
                                        but thrive</p>
                                    <a class="aw pl-2" href="{% url 'blog:create' %}">Create a Blog</a>


                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
