{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-auto">
    <div class="row">
        <div class="col  mt-3">
            <hr>
            <h2 class="display-4 logo-font text-black text-center">Privacy Policy</h2>
            <hr>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
</div>

{% endblock %}