{% extends "base.html" %}
{% load static %}
{% block head_title %} - Blog {% endblock head_title %}

{% block content %}
<div class="reg_pic">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a class="text-wht aw pl-2" href="{% url 'blog:list' %}" title="Back to Blogs">Blogs</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% if user.is_authenticated %}
                <a class="text-wht aw pl-2" href="{% url 'blog:create' %}">Create</a>
                <span class="mx-2 mb-0 text-wht">/</span>
                {% endif %}
                <small class="text-wht aw">{{ page_user|title }}'s Blogs</small>
            </div>
        </div>
    </div>
    <div class="container center-block">
        <div class="beta-overlay">
            <div class="col p-4">
                <h1 class="text-wht aw text-center">{{ page_user|title }}'s Blogs</h1>
                <hr class="hr-gry">




                {% for blog in user_blog %}
                <div class="row mt-1 text-wht">
                    <a class="text-wht" href="{{ blog.get_absolute_url }}">
                        <div class=" col-12"> {{ blog.title }}
                            <span class=" aw ml-2 float-right {% if blog.category  == 'Dieting' %} text-primary 
                            {% elif blog.category  == 'Recovery' %} text-warning 
                            {% elif blog.category  == 'Endurance' %} text-info
                            {% elif blog.category  == 'Covid-19' %} text-danger 
                            {% elif blog.category  == 'Members' %} text-light 
                            {% else %} text-success {% endif %}"><i class=" pl-2 pr-1 fa fa-tags"></i>
                                {{ blog.category }}</span></div>
                    </a>
                    <div class="col-12"><small class="text-wht">{{ blog.content|safe|truncatechars:100 }}</small>
                    </div>
                    <div class="col-12"><span class="text-center"><i class="px-2 text-grn fa fa-eye"></i>
                            {{ blog.get_view_count }}</span>
                        <span class="text-center"><i class="px-2 text-primary fa fa-thumbs-up"></i>
                            {{ blog.get_like_count }}</span>
                        <span class="text-center"><i class=" px-2 text-ylw fa fa-comments-o"></i>
                            {{ blog.get_comment_count }}</span>

                        <span class="float-right">Posted: {{ blog.publish_date|timesince }}</span></div>
                </div>

                {% if screen_size == True %}
                <hr class="hr-gry">
                {% endif %}
                {% empty %}
                <div class="text-wht text-center"><span class="aw text-wht mr-1">{{ page_user|title }}</span> has
                    writen any blogs yet</div>

                {% endfor %}


            </div>
        </div>
    </div>
</div>

<!-- {{user_blog}} -->

{% endblock content%}
