{% extends "base.html" %}
    {% load static %}
    
    {% block extra_title %} - Contact Us{% endblock %}

    {% block extra_meta %}
        <meta name="description" content="Awdio Aber - Contact Us.">
        <meta name="keywords" content="Contact us, Awdio Aber, for all your audio needs.">
    
        <!-- Social media - Facebook, LinkedIn, Google -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="Awdio Aber - Contact Us">
        <meta property="og:description" content="Awdio Aber - Contact Us.">
        <meta name="image" property="og:image" content="{% static 'images/aa-logo.png' %}">
        <meta property="og:image:alt" content="Awdio Aber ecommerce store shown on a variety of devices, from mobile to desktop">
        <meta property="og:url" content="https://awdio-aber.herokuapp.com/contact">
        <meta property="og:site_name" content="Awdio Aber - Contact Us">
    {% endblock %}

    {% block content %}
    <div class="row page-title">
        <h3>Contact Us</h3>
    </div>

    <div class="row">
        <div class="col-10 offset-1 text-center">
            <h4>Thank you for sending us your enquiry!</h4>
            <p>We aim to reply to messages within 2 business days.</p>

            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-outline-blue my-2">
                <span class="icon mr-2">
                    <i class="fa-solid fa-shop"></i>
                </span>
                <span>Lets Shop!</span>
            </a>

        </div>
    </div>
{% endblock %}