{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Contact Us{% endblock %}

{% block extra_meta %}
<meta name="description" content="Awdio Aber - Contact Us.">
<meta name="keywords" content="Contact us, Awdio Aber, for all your audio needs.">

<!-- Social media - Facebook, LinkedIn, Google -->
<meta property="og:type" content="article">
<meta property="og:title" content="Awdio Aber - Contact Us">
<meta property="og:description" content="Awdio Aber - Contact Us.">
<meta name="image" property="og:image" content="{% static 'images/aa-logo.png' %}">
<meta property="og:image:alt"
    content="Awdio Aber ecommerce store shown on a variety of devices, from mobile to desktop">
<meta property="og:url" content="https://awdio-aber.herokuapp.com/contact">
<meta property="og:site_name" content="Awdio Aber - Contact Us">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col  mt-3">
            <hr>
            <h2 class="display-4 logo-font text-black text-center">Thank you!</h2>
            <hr>
            <br>
            <div class="text-center">
                <h4> We aim to reply within 2 working days. Thank you for your patience.</h4>
            </div>
            <br>
            <div class="text-center">
                <h4>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0"><i
                            class="fas fa-shopping-bag"></i> Take me
                        shopping!</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}