{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-auto">
    <div class="row">
        <div class="col  mt-3">
            <hr>
            <h2 class="display-4 logo-font text-black text-center">Clwb Awdio FAQs</h2>
            <hr>
            <br>
            <div class="text-center">
                <img class="img-thumbnail" id="about-logo" src="{% static 'images/readme/logo.png' %}">
            </div>
            <div class="text-center">
                <br>
                <br>
                <h3>
                    Here are the most common questions we get asked about Clwb Awdio membership:
                </h3>
            </div>
            <div>
                <br>
                <h3>For how long will I be tied into the subscription?</h3>
                <p>As long as you like! You can cancel at any time, hassle free!
                </p>
                <br>
                <h3>How much will I have to pay in shipping?</h3>
                <p>Nothing, shipping and collection is free - forever!</p>
                <br>
                <h3>What happens if my product breaks or gets damaged?</h3>
                <p>Depending on the nature of the damage we may need to charge for repair, but we understand scratches
                    happen, and we will not penalize you for those.</p>
                <br>
                <h3>I really like the gear I've been sent, but I'm still not sure I want to buy, can I hold on to it for
                    another month?</h3>
                <p>Sure! Just drop us a line 7 days befor your collection is due and we'll hold it for a month. Please
                    note you will still be charged for that moths subscription, and you will not recieve an additional
                    piece of equipment until you return the piece you already have.</p>
                <br>
                <h3>Can I choose what I recieve?</h3>
                <p>Unfortunately no, but this is something we want to offer soon. Due to wanting to keep costs low and
                    our ability to import stock we currently send out the same equipment to all members that month.</i>
                </p>
                <br>
                <h3>What condition will the equiptment be in when it arrives?</h3>
                <p>Box fresh! You will be the first person to use your equipment and it will arrive in industry standard
                    damage protection reusable packaging. When its time for us to collect the equipment just pack it
                    back up in the box we sent it in, and we'll collect it on your chosen day.</p>
                <br>
                <br>
                <div class="text-center">
                    <h3>We hope we've answered all your questions here, but if there's something we've missed plese feel
                        free to get in touch and we'll get back to you as soon as we can.</h3>
                </div>
                <br>
            </div>
            <div class="text-center">
                <h4>
                    <a href="{% url 'contact' %}" class="btn btn-outline-black rounded-0">Contact</a>
                </h4>
            </div>
            <br>
            <div class="text-center">
                <h3>I'm sold! Gimme, gimme, gimme!</h3>
            </div>
            <div class="text-center">
                <br>
                <h4>
                    <a href="https://buy.stripe.com/test_6oE4ikgbd4md1nW9AA" class="btn btn-outline-black rounded-0">Sign me up!</a>
                </h4>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}